# Core ML/DL packages
tensorflow
# tensorflow-macos==2.16.2  # For Mac users
# tensorflow==2.16.2; platform_system != "Darwin"        # For other platforms
# tensorflow-macos==2.16.2; platform_system == "Darwin"  # For MacOS
# tensorflow-metal==1.1.0; platform_system == "Darwin"   # Only for Mac M1/M2 users
numpy
opencv-python
opencv-python-headless
# opencv-contrib-python
Pillow

# Visualization
plotly

# API and Vision packages
openai
python-dotenv

# Web app
streamlit
pyngrok

# Data processing
pandas
matplotlib
seaborn

# Model dependencies
grpcio
grpcio-status
protobuf==3.20.3
h5py>=3.12.0

# Utilities
tqdm
scikit-learn