# Core ML/DL packages
tensorflow==2.16.2
# tensorflow-macos==2.16.2  # For Mac users
tensorflow==2.16.2; platform_system != "Darwin"        # For other platforms
tensorflow-macos==2.16.2; platform_system == "Darwin"  # For MacOS
tensorflow-metal==1.1.0; platform_system == "Darwin"   # Only for Mac M1/M2 users
numpy
opencv-python>=4.8.0
Pillow

# API and Vision packages
openai
python-dotenv

# Web app
streamlit>=1.31.0
pyngrok

# Data processing
pandas
matplotlib
seaborn

# Model dependencies
grpcio==1.48.2
grpcio-status==1.48.2
protobuf==3.20.3
h5py>=3.12.0

# Utilities
tqdm
scikit-learn